body {
    background: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: initial;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    display: flex;
    flex-direction: column;
}

header {
    background: steelblue;
    border-bottom: 5px solid rgb(41, 107, 160);
    box-shadow: dimgray 0px 3px 4px;
    z-index: 10;
    color: whitesmoke;

    display: flex;
    align-items: center;
}

.flexspacer {
    flex-grow: 1;
}

#titletext {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 24pt;
}

.controllabel {
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 3px;
}

header > div {
    margin: 10px 15px;
}

#middlearea {
    margin: 0px 25px 5px;
    padding: 5px 15px;
    background-color: rgb(199, 198, 198);
    border-radius: 0px 0px 5px 5px;
}

#querywrapper {
    display: flex;
    align-items: center;
}

#queryinputwrapper {
    position: relative;
    flex-grow: 1;
    margin-right: 15px;
}

#query {
    width: 100%;
    font-weight: bold;
    padding: 3px;
}

#queryreadout {
    text-align: right;
    color: rgb(65, 65, 65);
    font-size: 10pt;
    margin-right: 15px;
}

#tablearea {
    flex-grow: 1;
    position: relative;
}

#tablewrapper {
    border: 3px solid dimgray;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    overflow: auto;
}

#table {
    border-collapse: collapse;
    background: whitesmoke;
    width: 100%;
}

#table tr:nth-child(odd) {
    background: rgb(228, 228, 228);
}

#table tr:first-child {
    background: lightgray;
    font-size: 1.25em;
    font-weight: bold;
    border-bottom: 2px solid dimgray;
}

#table td {
    padding: 5px;
}